[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
faker = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
faker-food = "*"

[dev-packages]

[requires]
python_version = "3.11"
